<a href="https://colab.research.google.com/github/havcku/Python-web-site-practice-Doowon-Univercity-of-technology/blob/main/untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##자료형
####숫자형
정수 : 123, -20, 0
실수 : 123, 45, -4321.5, 6, 6.08e9
8진수 : 0o456, 0o123
16진수 : 0xFF, 0x00, 0x0A

파이썬에서 지원하는 데이터 형에는 기본적인 정수형, 실수형, 불형, 문자열과 확장형인 리스트, 튜플 딕셔너리, 집합 등이 있다.

숫자형은 소수점 여부에 따라 정수형과 실수형으로 나눌 수 있다.
정수형에는 16진수, 8진수, 2진수도 사용할 수 있다. 16진수는 0x나 0X로, 8진수는 0o나 0O로 2진수는 0b나 0B로 표현한다.

실수형은 소수점이 있는 데이터이다. 정수형과 실수형 모두 사칙연산을 수행할 수 있고, 제곱을 의미하는 **, 나머지를 구하는 %, 나눈 후 소수점을 버리는 // 연산자도 사용할 수 있다.

####불형
불형은 참이나 거젓만 저장할 수 있으며, 논리형이라고도 한다.
불형은 비교의 결과를 참이나 거짓으로 저장하는 데 사용될 수 있다.

####문자열
문자열은 abc와 같이 문자집합을 의미하며, 큰따옴표나 작은따옴표로 표현한다.
문자열을 그대로 출려하면, 작은따옴표에 묶어 출력되며, print() 함수로 출력하면, 작은따옴표 없이 출력된다. 문자열은 String의 약자인 str로 표현된다.
또는 백슬래시 뒤에 큰따옴표나 작은따옴표를 사용해도 글자로 인식한다.
문자열을 여러 줄로 넣으려면 중간에 \n을 삽입하면 된다.
큰따옴표나 작은따옴표 3개를 연속해서 묶어도 된다.

파이썬에서는 C/C++, 자바 등과 같은 main()함수가 존재하지 않는다. 따라서 코드가 길어지면, 메인코드 부분이 혼란스러운데, main()함수의 효과를 보여 주는 방법을 사용할 수 있다.

In [ ]:
a = 100
b = 200
result = a + b
print(a,  '+'  ,  b,  '='  , result)  
result = a - b
print(a,  '-'  ,  b,  '='  , result)  
result = a * b
print(a,  '*'  ,  b,  '='  , result)  
result = a / b
print(a,  '/'  ,  b,  '='  , result)

In [ ]:
##계산기 예제
a = int(input("첫번째 숫자를 입력해 주세요: "))
b = int(input("두번째 숫자를 입력해 주세요: "))
result = a + b
print(a, "+", b, "=" , result)
result = a - b
print(a, "-", b, "=" , result)
result = a * b
print(a, "*", b, "=" , result)
result = a / b
print(a, "/", b, "=" , result)
# input 사용 사칙연산 계산기

In [ ]:
##계산기 예제
a = int(input("첫번째 숫자를 입력해 주세요: "))
b = int(input("두번째 숫자를 입력해 주세요: "))
result = a ** b
print(a, "**", b, "=" , result)
result = a // b
print(a, "//", b, "=" , result)
result = a % b
print(a, "%", b, "=" , result)
# input 사용 제곱 몫 나머지 계산기

In [ ]:
#잘못된 예시 
num1 = input("숫자입력1:  ")
num2 = input("숫자입력2:  ")
result = num1 + num2
print(type(num1))
print(num1, "+", num2, "=", result)
# 이렇게하면 num이 스트링으로 잡히기 때문에 int를 넣어줘야한다.

In [ ]:
a = input("이름을 입력해주세요: ")
b = input("전화번호를 입력해주세요: ")
c = int(input("무게를 입력해주세요 (g단위) "))
result = c*10
print("이름은", a, "전화번호는",  b , "무게에 따른 금액은", result  ,"입니다")

In [ ]:
a = 10  
    b = 20 
    c = a + b  
    d = b - a
    print(c, d)

In [ ]:
a = 10
b = 3
 #나눗셈
c = a/b  #  나눗셈  
d = a//b  #  몫  
e = a%b  #  나머지 
 # 곱셈
f = a*b 
g = a**b #제곱
print(c,d,e,f,g)

##연산자
####산술연산자
= 대입연산자  
'+' 더하기
'-' 빼기  
'*' 곱하기  
'/' 나누기  
'//' 나누기(몫)  
'%' 나머지 값  
'**' 제곱  
연산자 중에서 어떤 것을 먼저 계산할지를 결정하는 우선순위 개념도 필요하다.

문자열이 숫자로 구성되어 있을 때, int()또는 float() 함수를 사용해서 정수나 실수로 변환할 수 있다.
반대로 숫자를 문자열로 변환하려면 str()함수를 사용한다.

In [ ]:
myName = "Sebin Oh" #낙타표기법 (중간 대문자)
my_Name = "유재혁" #스네이크 표기법 (_언더바 사용한 것)
MyName = 'kiki' # 파스칼 표기법 (앞 대문자)
_my_name = "korea"
MYNAME = "God is love"
my2name = "12345"
# 2myname = '9876' 숫자로 시작할 수 없다.
# my-name = "michle" 위에바가 들어가면 안된다.
# my name = "kiki" 스페이스바를 쓰면 안된다.
myStr = '123' #str
myNum = 123 # int

print(myStr, myNum)
#print(myStr+myNum) 숫자와 문자이기 때문에 합해지지않는다.
print(type(myStr))
print(type(myNum))

123 123
<class 'str'>
<class 'int'>

##대입연산자
+= -= *= /= //= %= **=

In [ ]:
a = 10
a += 5; print(a)
a -= 5; print(a)
a *= 5; print(a)
a /= 5; print(a)
a //= 5; print(a)
a %= 5; print(a)
a **= 5; print(a)

####관계연산자
관계 연산자는 비교 연산자라고도 하며 어떤 것이 크거나 작거나 같은지 비교한다 그 결과는 참 아니면 거짓이 된다.  
'==' 같다  
'!=' 같지않다  
'>' 크다  
'<' 작다  
'>=' 크거나 같다  
'<=' 작거나 같다  
주로 조건문(if) 이나 반복문(while 문)에서 사용되며, 단독으로는 거의 사용하지 않는다. 일반적으로 참은 True로 거짓은 False로 표시한다.

In [ ]:
a,b = 10, 20  
print(a==b, a!=b, a>b, a<b, a>=b, a<=b)

In [ ]:
#여러개의 변수 할당 
x,y,z = "포도", "딸기", "수박"
print(x)
print(y)
print(z)

In [ ]:
a = b = c = "오렌지"
 print(a)
 print(b)
 print(c)

In [ ]:
fruits = ["포도", "딸기", "수박"]
x , y , z = fruits
print(x)
print(y)
print(z)

In [ ]:
x = "Life"  
y = "is"  
z = "Beautiful"  
print(x,y,z)
print(x+y+z)

In [ ]:
a = 1
b = 2
c = 3 # "3" str 으로 만들면 에러가 난다.
print(a,b,c)
print(a+b+c)

####논리연산자
논리 연산자는 주로 여러 가지 조건을 복합해서 사용하는데, and그리고, or또는 not부정 세가지가 있다.  
and논리곱  
or논리합  
not논리부정

In [ ]:
a = 99
(a > 100) and (a < 200)
(a > 100) or (a < 200)
not(a==100)

In [ ]:
#print()서식 출력
print("%d" % 123)
print("%5d" % 123)  
print("%05d" % 123)

In [ ]:
print("%f" % 123.45)//소수표시
print("%7.1f" % 123.45)//소수 표시 7자리 확보 후 첫재자리까지 표시
print("%7.3f" % 123.45)//소수 표시 7자리 확보 후 셋째자리까지 표시

In [ ]:
print("%s" % "대한민국")//문자 표시
print("%6s" % "대한민국")//문자 6자리로 표시

In [ ]:
print("{0:d} {1:5d} {2:05d}".format(123,456,789))

In [ ]:
print("{2:d} {1:5d} {0:05d}".format(123,456,789))
#위 두 예문 중 0과 2의 순서를 바꾸어주었더니
#123(0)이 789(2)와 순서가 바뀜을 볼 수 있었다.

##조건문
####if문
만약 ~라면 이라는 의미처럼 if는 어떤 조건을 내세울 때 사용한다. if 문에서 내세우는 조건의 결과는 참 또는 거짓으로 두가지 뿐이다.  

if문은 참일때 실행하고, 거짓일 때는 아무것도 실행하지 않는다.
조건식은 주로 마름모 형태를 그리는데, 참이면 문장을 실행하고 거짓이면 아무것도 실행하지 않는다.

In [ ]:
if(123):  
  print("참이면 보입니다.")
if(0):  
  print("거짓이면 보입니다")

In [ ]:
#동전교환예제
bill,c500, c100, c50, c10 = 0,0,0,0,0
bill = int(input("바꿀돈은?"))

c500 = bill // 500 #몫
bill %=500 # bill =bill%500
c100 = bill // 100 #몫
bill %=100 # bill =bill%100
c50 = bill // 50 #몫
bill %=50 # bill =bill%50
c10 = bill // 10 #몫
bill %=10 # bill =bill%10

print("500원짜리 %d개" % c500)
print("100원짜리 %d개" % c100)
print("50원짜리 %d개" % c50)
print("10원짜리 %d개" % c10)
print("잔돈 %d원" % bill)

In [ ]:
if(a<100):
  print("100보다 작음")
else :  
  print("100보다 크다")
  print("프로그램 끝")

In [ ]:
a = 120
if(a>50):
  if(a<100):
    print("50<a<100")
  else:
    print("a>100")
else:
  print("a<50")

In [ ]:
import random

number = []
for num in range(0,7) : 
  number. append(random.randrange(1,46))
print("생성된 리스트", number)

In [ ]:
for i in range(1,9,1):
  print("%d " % i, end="")  
print("\n")
for i in range(1,9,1):
  print("\n%d" % i, end=" ")

In [ ]:
for i in range(0,3,1): #시작값,끝값+1,증가값
  print("%d 안녕하세요~" % i) #반복 내용
  #print(i)
print("반갑습니다")

In [ ]:
#중첩for문
i,j,k=0,0,0
k= int(input("구구단 단수 입력 : "))
for i in range(1,10,1):
    print("%d x %d = %2d" % (k,i,k*i))
print("")

In [ ]:
#구구단 245출력 후 바꿔서 출력
m,n=0,0
for m in range(1,10,1):
  for n in range(2,6,1):
      print("%d x %d = %2d" % (n,m,m*n), end='\t')     
  print("")
print("\n")
m,n=0,0
for m in range(1,10,1):
  for n in range(6,10,1):
   print("%d x %d = %2d" % (n,m,n*m), end='\t' )
  print("")

##인덱스와 슬라이싱
####리스트
c또는 자바와 같은 프로그래밍 언어는 리스트가 없는데 리스트와 비슷한 개념인 배열array를 사용한다.  
리스트는 정수, 문자열, 실수 등 서로 다른 데이터 형도 묶을 수 있지만, 배열은 동일한 데이터 형만 묶을 수 있다는 차이점이 있다. 그러므로 정수 배열은 정수로만 묶어서 사용해야 한다.

In [ ]:
L = [0,1,2,3,4,5,6,7,8,9]
print(L[1])

In [ ]:
L = [0,1,2,3,4,5,6,7,8,9]
print(L[-3])

In [ ]:
L = [0,1,2,3,4,5,6,7,8,9]
print(L[0:9])

In [ ]:
L = [0,1,2,3,4,5,6,7,8,9]
print(L[0:9:2])

In [ ]:
L = [0,1,2,3,4,5,6,7,8,9]
print(len(L))
print(L[len(L)-1])

In [ ]:
L = [0,1,2,3,4,5,6,7,8,9]
L[0] = 99
L[9] = '가나다'
L[1] = [1,2,3]
print(L)
print(L[9])

In [ ]:
a = [1,2,3]
b = [4,5,6]
c = a+b
print(a+b)
print(c)
print(a*3)

In [ ]:
L = [1,2,3,4,5]
print(L)
L.append(6) #리스트 뒤에 추가
print(L)
L.remove(3) #해당 요소값을 삭제
print(L)

In [ ]:
k='God is love!'
print(k[:3])
print(k[6:])
print(k[-8:-1])

In [ ]:
a = ['apple', 'banana', 'cherry']
del a[0]
print(a)
a.clear()  #del a
print(a)

리스트명.append(값)으로서 리스트 항목을 하나씩 추가할 수 있다.
레인지 함수를 사용하여 빈 리스트를 만들고 싶은 만큼 만들 수 있다.

####튜플
리스트와 사용법이 비슷하면서도 다르다. 리스트는 대괄호로 생성하지만, 튜플은 소괄호로 생성한다. 또 튜플은 값을 수정할 수 없으며, 읽기만 가능해 읽기 전용 자료에 저장할 때 사용한다.

딕셔너리는 영어사전이나 국어사전처럼 두 값이 한 쌍으로 묶인 자료구조이다. 중괄호로 묶어 사용하며, key와 값의 쌍으로 구성되어 있다.

In [ ]:
f = ['banana','apple', 'Kiwi', 'cherry','Orange']
print(len(f))

In [ ]:
t = ('apple',)
print(t)
print(type(t))
f = ('banana') #튜플로 인식하기 위해서는 ","필요
print(f)
print(type(f))

In [ ]:
f = ('banana','apple', 'Kiwi', 'cherry','Orange')
print(f[:4])
print(f[2:])

In [ ]:
f = ('banana','apple', 'Kiwi', 'cherry','Orange')
if 'apple' in f :
  print("Yes, 'apple' is in")
else:
    print('No')

In [ ]:
firm = ['Samsung','LG','SK']
tdata = tuple(firm)
print(firm)
print(tdata)

In [ ]:
t = ('apple', 'banana', 'cherry', 'kiwi')
l = list(t)
l.remove('apple')
t = tuple(l)
print(t)
del t
# print(t) 삭제가능하지만 삭제후 출력불가

In [ ]:
d = {
    'a':1,
    'b':2,
    'c':3
}
print(d)
print(d.keys())
print(d.values())
print(d.items())

In [ ]:
car={
    'brand' : 'BMW',
    'model' : 'GT',
    'year' : 1988
}
print(car)
print(len(car))
car["year"] = 2000 
car["item"] = 123456
car.update({"color" : "red"})
print(car)

In [ ]:
car={
    'brand' : 'BMW',
    'model' : 'GT',
    'year' : 1988
}
car.clear() # 비움
del car #삭제

In [ ]:

car={
    'brand' : 'BMW',
    'model' : 'GT',
    'year' : 1988
}
myCar = car.copy()
print(myCar)

In [ ]:
name1 = {"name" : "홍길동", "year":2001}
name2 = {"name" : "갑돌이", "year":2010}
name3 = {"name" : "감순이", "year":2003}
family = {
    "name1" :name1,
    "name2" :name2,
    "name3" :name3
}
print(family)

In [ ]:
#중첩if문
select, answer, numStr, num1, num2 = 0,0,"",0,0

select = int(input("1.입력한 수식 계산 2.두수의 합계: "))

if select == 1:
  numStr = input("*** 수식을 입력하세요 : ")
  answer = eval(numStr) # 1+2. "string"+"str"
  print(" %s 결과는 %5.1f입니다. " %(numStr,answer))
elif select == 2:
  num1 = int(input("*** 첫번째 숫자를 입력하세요 : "))
  num2 = int(input("*** 두번째 숫자를 입력하세요 : "))
  for i in range(num1,num2+1):
    answer = answer + i
  print("%d+...+%d는 %d입니다  " %(num1,num2,answer))
else:
  print("1또는 2만 입력해야 합니다.")

In [ ]:
score = int(input("점수를 입력해주세요 : "))
if (score > 100):
  print("0~100까지의 숫자로 입력하세요")
elif(score >=90):
  print("점수:%3d A"%score)
elif(score >= 80):
  print("점수:%3d B"%score)
elif(score >=70):
  print("점수:%3d C"%score)
elif(score >=60):
  print("점수:%3d D"%score)
else:
  print("점수:%3d F"% score)
print("학점 입니다.")

In [ ]:
#for while 문
for i in range(0,3,1):
  print("안녕!")

In [ ]:
for i in range(1,3,1):
  for j in range(1,2,1):
    print("i:%d, j:%d" %(i,j))

In [ ]:
i,j = 0,0
for i in range(1,10,1):
  for j in range(2,10,1):
    print("%d x %d = %2d" %(j,i,i*j), end='\t')
  print("")
print("\n")

In [ ]:
# Q 1부터 10까지 합계를 while, for문으로
i, hap = 0,0
for i in range(1,11,1):
  hap = hap+i

print("1부터 10까지의 합계: %d" %hap)

In [ ]:
hap = 0
a,b = 0,0
while True:
  a = int(input("덧셈 첫번째 수 입력: "))
  if a==0:
    break
  b = int(input("덧셈 두번째 수 입력: "))
  hap = a + b
  print("%d + %d = %d" %(a,b,hap))

print("break로 탈출")

In [ ]:
#계산기 만들기
def calc(a, b, k):
result = 0
if k == '+':
result = a + b
elif k == '-':
result = a - b
elif k == '*':
result = a * b
elif k == '/':
if b!=0:
result = a / b
elif k == '**':
result = a ** b
return result
while True:
a = int(input("첫 번째 숫자를 입력하세요: "))
k = input("연산자를 입력하세요 (+, -, *, /, ** 중 택
1): ")
b = int(input("두 번째 숫자를 입력하세요: "))
res = calc(a, b, k)
if b==0 and k=="/":
print("0으로 나눌 수 없습니다.")
break
else:
res))
print("계산기 :%d%s%d=%d"%(a,k,b,
continue